.accor_div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #353044;
}

.accordion-item,
.accordion-header,
.accordion-header > button {
  background-color: #e8e8e8;
  color: #353044;
  border: none !important;
  border-radius: 10px;
}

.accordion-item {
  background-color: transparent;
  margin-bottom: 1rem;
}

.accordion-button {
  width: 100%;
  border: none;
  border-radius: 10px;
}

.accordion-button:not(.collapsed) {
  color: #353044;
}
.accordion-button:not(.collapsed) {
  background-color: #e8e8e8;
}
.accordion-button:focus {
  box-shadow: none !important;
}

.accordion-button::after {
  display: none;
}

.custom_accordion_header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.custom_accordion_header > h4 {
  font-weight: 700;
}

.accordion_body {
  display: flex;
  justify-content: space-between;
}

.accordion_body_line {
  height: 80px;
  background: linear-gradient(to right, #4f42ad, #138ce3);
  border-radius: 10px;
  padding: 0.2rem;
}

.accordion_body_text {
  padding-left: 10px;
  color: #353044;
}
