.div {
  color: #353044;
  .subdiv_filters {
    width: 100%;
    .bropbutton {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 0.75rem;
      margin-bottom: 0.75rem;
    }
  }
  ._view {
    display: flex;
    justify-content: space-between;
  }
}
