.custom_background {
  background-color: #353044;
  border-radius: 20px;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 2rem;
  font-weight: 900;
  text-transform: uppercase;
}

.header_nav_menu_links {
  width: 100%;
  display: flex;
  justify-content: center;
  > li {
    margin: 0 1rem;
    font-weight: 600;
    &:hover {
      transform: scale(1.2);
      transition: transform 0.2s ease;
    }
  }
}

.dropdown_button {
  > a {
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    > h4 {
      margin-top: 0.1rem;
    }
  }
  > ul {
    > li {
      padding: 0.5rem;
      display: flex;
      justify-content: center;
    }
  }
}

.used_cart_div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  button {
    border: none;
    border-radius: 10px;
    color: #353044;
    &:hover {
      transform: scale(1.1);
      transition: transform 0.2s ease;
      background: linear-gradient(to right, #4f42ad, #138ce3);
      color: white;
    }
  }
  > button {
    background-color: transparent;

    border: 1px solid white;
    padding: 0.5rem 1rem;
  }
  > a {
    > button {
      width: 12.5rem;
      display: flex;
      align-items: center;
      padding: 0.5rem 1rem;
      margin-left: 1rem;
      > img {
        margin-right: 0.3rem;
      }
    }
  }
}
