.div {
  .subdiv_caption_amount {
    display: flex;
    justify-content: space-between;
    padding-left: 1rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
  }
  .progress_div {
    height: 16px;
    width: 66%;
    background: linear-gradient(to right, #dc21b8, #4f42ad, #138ce3);
    border-radius: 10px;
  }
  .progress_boll {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    .step_one,
    .step_two,
    .step_three,
    .step_four {
      position: absolute;
      top: -5px;
      width: 1.6rem;
      height: 1.6rem;
      border-radius: 100%;
      background-color: red;
    }
    .step_one {
      left: 1%;
      background-color: #ce25b7;
    }
    .step_two {
      left: 33%;
      background-color: #8336b1;
    }
    .step_three {
      left: 65%;
      background-color: #395dc1;
      box-shadow: 0 0 10px rgba(57, 93, 193, 1), 0 0 30px rgba(57, 93, 193, 1);
    }
    .step_four {
      left: 97.5%;
      background-color: #d9d9d9;
    }
  }
  .subdiv_caption_procent {
    display: flex;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
