.div {
  color: #353044;
  .subdiv_title {
    height: 4rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ececec;
    border-right: 1px solid #ececec;
    padding-left: 4rem;
  }
  .subdiv_dropdown {
    padding-left: 4rem;
  }
}
