.div {
  .subdiv_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .bropbutton {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
